body.comments-body {
  background-color: $background;
  color: white;
}

main.comments-background {
  height: 100vh;
  background: url(../images/main-yellow-shape.svg) left 50% top 35%,
    url(../images/main-purple-right.svg) right 0 top 50%,
    url(../images/main-purple-left.svg) left 0 bottom 10%,
    url(../images/girl.svg) left 50% bottom 20%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.comments-header {
  padding: 1em;
}

.comment-user-details {
  color: #fff;
}

.comment-tweet-btn {
  background-color: $background;
  color: $theme-primary;
  border: none;
  font-size: 0.8em;
  margin: 1em;
}

.comments-container {
  background-color: transparent;
  width: 80vw;
  margin: 0 auto;
  height: 100vh;
}

.comment-btn {
  color: $background;
  background-color: $theme-primary;
}

.background-textarea {
  background-color: $background;
}

.relative {
  position: relative;
  margin-bottom: 0.6em;
}

.tweet-page {
  display: flex;
  align-items: flex-start;
  color: rgb(202, 197, 197);
  width: 100vw;
  padding-top: 1em;
  z-index: 1;
  background-color: $background;

  .tweet-icon {
    position: relative;
    width: 70px;
    height: 70px;
    background-color: $theme-primary;
    clip-path: circle(49% at center);
    margin: 0 2em;
  }
}

.comment-user-details {
  margin: 0 1em;
  display: flex;
  flex-direction: column;
  width: 60%;
  color: white;
}

.tweet-content-color {
  color: white;
  font-weight: 200;
}

.comments-wrapper {
  width: 80vw;
  height: 100vh;
  background-color: transparent;
  margin: 2em auto;
  padding: 1em;
  font-size: 0.8em;
}

.header-comments {
  margin-bottom: 1em;
}

.comment-mini-header {
  display: flex;
  width: 60vw;
  font-size: 0.8em;
  padding-top: 1em;
}

.comment-mini-icon {
  width: 50px;
  height: 50px;
  background-color: $theme-primary;
  clip-path: circle(49% at center);
}

// .comment-user-pic {
//   width: 60px;
//   height: 60px;
// }

.comment-text {
  margin: 1em auto;
}

.new-comment-icon > img {
  position: fixed;
  bottom: 2em;
  right: 2em;
}
