body.login {
  background-color: $background;
  text-align: center;
}

main.login-background {
  position: relative;
  height: 100vh;
  background: url(../images/large-purple-top.svg) left 0 top 0,
    url(../images/small-purple-top.svg) right 5vw top 5vh,
    url(../images/small-purple-left.svg) left 0 top 60vh,
    url(../images/small-purple-right.svg) right 0 top 50vh,
    url(../images/small-yellow-bottom.svg) left 55vw top 92vh;
  background-repeat: no-repeat;

  .yellow-triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 198px 90.5px 0 90.5px;
    border-color: $theme-primary transparent transparent transparent;
    top: -8vh;
    left: -5vw;
    transform: rotate(-30deg);
  }
}

.login-page-image {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
}

form {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);

  input {
    margin: 1em 0;
  }

  .username,
  .password {
    width: 240px;
    height: 25px;
    background-color: $background;
    border: none;
    border-bottom: solid 2px $theme-primary;
    font-size: 0.8em;
    margin: 1em;
    padding: 0.2em;
    color: $content-background;
    outline: 0;
  }

  .login-button {
    background-color: $theme-primary;
    width: 120px;
    height: 2em;
    border: none;
    border-radius: 5%;
    font-size: 1em;
    font-weight: 600;
    outline: 0;
  }

  ::placeholder {
    display: inline-block;
    font-size: 0.8em;
    padding: 0.5em;
  }
}
