$background: black;
$content-background: #ffffff;
$theme-primary: #e7e417;
$theme-secondary: purple;

@mixin line {
  border-bottom: 1px solid rgb(202, 202, 202);
  margin-bottom: 1em;
}

@mixin textarea-design {
  display: block;
  margin: 0 auto;
  padding: 0.7em;
  border-radius: 4px;
  font-size: 0.9em;
  font-weight: 300;
  outline: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  line-height: 1.4em;
}

body.main-default-background {
  height: 100vh;
  background: url(../images/main-wave.svg) left 0 top 0,
    url(../images/main-yellow-shape.svg) left 50vw top 40vh,
    url(../images/main-purple-right.svg) right 0 top 50vh,
    url(../images/main-purple-left.svg) left 0 bottom 8vh,
    url(../images/main-human.svg) left 0 bottom 30vh;
  background-attachment: fixed;
  background-repeat: no-repeat;

  .new-tweet-icon {
    position: fixed;
    bottom: 6vh;
    right: 6vw;
  }
}

header.main-page {
  position: fixed;
  top: 0;
  display: flex;
  align-items: flex-start;
  color: rgb(202, 197, 197);
  width: 100vw;
  padding-top: 2em;
  z-index: 1;
  background-color: $background;

  .main-icon {
    position: relative;
    width: 20vw;
    height: 20vw;
    background-color: $theme-primary;
    clip-path: circle(49% at center);
    margin: 0 2em;

    .camera {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  div.details {
    display: flex;
    flex-direction: column;
    width: 60%;

    ul.details-extra {
      display: grid;
      grid-template-columns: auto auto;
      font-size: 0.8em;

      .user-info {
        font-style: italic;
      }

      li {
        padding: 0.5em 0;
        list-style: none;

        span.bold-numbers {
          font-weight: 700;
        }
      }
    }
  }

  .header-purple-hr-line {
    border-bottom: 1px solid $theme-secondary;
    margin: 0.4em 1em 0.4em 0;
  }

  .header-grey-hr-line {
    border-bottom: 1px solid rgb(170, 170, 114);
    width: 60%;
    margin-bottom: 0.7em;
  }
}

.tweets-container {
  background-color: transparent;
  height: auto;
  width: 85%;
  position: absolute;
  top: 17%;
  left: 50%;
  margin-top: 2em;
  transform: translate(-50%);

  .tweet {
    background-color: white;
    width: 80vw;
    margin: 2em auto;
    padding-bottom: 1em;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: -2px 11px 14px -6px rgba(46, 46, 46, 0.54);

    .tweet-header {
      display: flex;
      justify-content: space-between;
      background-color: $theme-primary;
      padding: 0.9em;
      font-size: 14px;
      font-weight: 300;
    }

    .tweet-body {
      padding: 0.8em 1.3em 0 1.3em;
      font-weight: 200;

      .tweet-line {
        @include line;
      }

      .hashtag {
        margin: 0.5em 0;
        font-size: 0.9em;
        color: $theme-secondary;
      }
    }

    .tweet-buttons {
      display: flex;
      justify-content: space-around;
      color: grey;

      .like-button,
      .retweet-button,
      .comment-button {
        display: flex;
        align-items: center;

        .like-quantity,
        .retweet-quantity,
        .comment-quantity {
          font-size: 0.8em;
          padding: 0.3em;
        }
      }
    }

    div.tweet-comment-field {
      padding: 1em;

      .comment-line {
        @include line;
      }

      textarea {
        @include textarea-design;
        border: 1px solid rgb(189, 181, 181);
      }

      textarea::placeholder {
        color: grey;
      }

      .tweet-comment-buttons {
        position: relative;

        input[type="submit"] {
          position: absolute;
          right: 0;
          background-color: $background;
          color: $theme-primary;
          width: 77px;
          height: 29px;
          border: none;
          border-radius: 4px;
          outline: 0;
          // cursor: pointer;
        }
      }
    }
  }
}

.hidden {
  display: none;
}
