@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  line-height: 1.4em; }

body.main-default-background {
  height: 100vh;
  background: url(../images/main-wave.svg) left 0 top 0, url(../images/main-yellow-shape.svg) left 50% top 40%, url(../images/main-purple-right.svg) right 0 top 55%, url(../images/main-purple-left.svg) left 0 bottom 8%, url(../images/main-human.svg) left 0 bottom 30%;
  background-attachment: fixed;
  background-repeat: no-repeat; }
  body.main-default-background .new-tweet-icon {
    position: fixed;
    bottom: 6vh;
    right: 6vw; }

header.main-page {
  position: fixed;
  top: 0;
  display: flex;
  align-items: flex-start;
  color: #cac5c5;
  width: 100vw;
  padding-top: 2em;
  z-index: 1;
  background-color: black; }
  header.main-page .main-icon {
    position: relative;
    width: 80px;
    height: 80px;
    background-color: #e7e417;
    clip-path: circle(49% at center);
    margin: 0 2em; }
    header.main-page .main-icon .user-pic {
      width: 80px;
      height: 80px; }
    header.main-page .main-icon .choose-file {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1; }
  header.main-page div.user-details {
    display: flex;
    flex-direction: column;
    width: 60%; }
    header.main-page div.user-details ul.details-extra {
      display: grid;
      grid-template-columns: auto auto;
      font-size: 0.8em; }
      header.main-page div.user-details ul.details-extra li {
        padding: 0.5em 0;
        list-style: none; }
        header.main-page div.user-details ul.details-extra li span.bold-numbers {
          font-weight: 700; }

.user-info {
  font-style: italic;
  font-size: 0.8em; }

.header-purple-hr-line {
  border-bottom: 1px solid purple;
  margin: 0.4em 1em 0.4em 0; }

.header-grey-hr-line {
  border-bottom: 1px solid #aaaa72;
  width: 60%;
  margin-bottom: 0.7em; }

.tweets-container {
  background-color: transparent;
  height: auto;
  width: 85%;
  position: absolute;
  top: 17%;
  left: 50%;
  margin-top: 2em;
  transform: translate(-50%); }
  .tweets-container .tweet {
    background-color: white;
    width: 80vw;
    margin: 2em auto;
    padding-bottom: 1em;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: -2px 11px 14px -6px rgba(46, 46, 46, 0.54); }
    .tweets-container .tweet .tweet-header {
      display: flex;
      justify-content: space-between;
      background-color: #e7e417;
      padding: 0.9em;
      font-size: 14px;
      font-weight: 300; }
    .tweets-container .tweet .tweet-body {
      padding: 1em 1.3em 0 1.3em;
      font-weight: 200; }

.tweet-line {
  border-bottom: 1px solid #cacaca;
  margin: 1em 0; }

.tweet-buttons {
  display: flex;
  justify-content: space-around;
  color: grey; }
  .tweet-buttons .button {
    display: flex;
    align-items: center; }
  .tweet-buttons .quantity {
    font-size: 0.8em;
    padding: 0.3em; }
  .tweet-buttons .button::before {
    position: relative;
    bottom: -2px; }
  .tweet-buttons .like-button::before {
    content: url(../images/heart.svg); }
  .tweet-buttons .like-button.filled::before {
    content: url(../images/like-purple.svg); }
  .tweet-buttons .retweet-button::before {
    content: url(../images/retweet.svg); }
  .tweet-buttons .retweet-button.filled::before {
    content: url(../images/retweet-purple.svg); }
  .tweet-buttons .purple {
    color: #dd00f0; }

div.tweet-comment-field textarea {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0.7em;
  border-radius: 4px;
  font-size: 0.9em;
  font-weight: 300;
  outline: 0;
  height: 15vh; }

div.tweet-comment-field textarea::placeholder {
  color: grey; }

div.tweet-comment-field .tweet-comment-buttons {
  position: relative; }
  div.tweet-comment-field .tweet-comment-buttons input[type="submit"] {
    position: absolute;
    right: 0;
    width: 77px;
    height: 29px;
    border: none;
    border-radius: 4px;
    outline: 0; }

.page-padding {
  padding: 0 1em; }

.comment-line {
  border-bottom: 1px solid #cacaca;
  margin: 1em 0; }

.border-secondary {
  border: 1px solid #bdb5b5; }

.border-primary {
  border: 1px solid #e7e417; }

.reply-btn {
  background-color: black;
  color: #e7e417; }

.hidden,
.template {
  display: none; }

body.login {
  background-color: black;
  text-align: center; }

main.login-background {
  position: relative;
  height: 100vh;
  background: url(../images/large-purple-top.svg) left 0 top 0, url(../images/small-purple-top.svg) right 5vw top 5vh, url(../images/small-purple-left.svg) left 0 top 60vh, url(../images/small-purple-right.svg) right 0 top 50vh, url(../images/small-yellow-bottom.svg) left 55vw top 92vh;
  background-repeat: no-repeat; }
  main.login-background .yellow-triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 198px 90.5px 0 90.5px;
    border-color: #e7e417 transparent transparent transparent;
    top: -8vh;
    left: -5vw;
    transform: rotate(-30deg); }

.login-page-image {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%); }

form {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%); }
  form input {
    margin: 1em 0; }
  form .username,
  form .password {
    width: 240px;
    height: 25px;
    background-color: black;
    border: none;
    border-bottom: solid 2px #e7e417;
    font-size: 0.8em;
    margin: 1em;
    padding: 0.2em;
    color: #ffffff;
    outline: 0; }
  form .login-button {
    background-color: #e7e417;
    width: 120px;
    height: 2em;
    border: none;
    border-radius: 5%;
    font-size: 1em;
    font-weight: 600;
    outline: 0; }
  form ::placeholder {
    display: inline-block;
    font-size: 0.8em;
    padding: 0.5em; }

body.create-tweet-background {
  height: 100vh;
  background: url(../images/main-wave.svg) left 0 top 0, url(../images/main-yellow-shape.svg) left 50vw top 35vh, url(../images/main-purple-right.svg) right 0 top 50vh, url(../images/main-purple-left.svg) left 0 bottom 8vh, url(../images/tweet-human.svg) left 50% bottom 0;
  background-attachment: fixed;
  background-repeat: no-repeat; }

header.tweet-page-buttons {
  display: flex;
  justify-content: space-between;
  padding: 1em 1.5em; }
  header.tweet-page-buttons input[type="submit"] {
    background-color: #e7e417;
    color: black;
    width: 77px;
    height: 29px;
    border: none;
    border-radius: 4px;
    outline: 0; }

.tweet-yellow-line {
  border-bottom: 1px solid #e7e417; }

div.textarea {
  padding: 1.5em; }
  div.textarea textarea {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0.7em;
    border-radius: 4px;
    font-size: 0.9em;
    font-weight: 300;
    outline: 0;
    height: 18vh;
    border: 1px solid #e7e417;
    background-color: black;
    color: white; }

textarea::placeholder {
  color: #e7e417; }

body.comments-body {
  background-color: black;
  color: white; }

main.comments-background {
  height: 100vh;
  background: url(../images/main-yellow-shape.svg) left 50% top 35%, url(../images/main-purple-right.svg) right 0 top 50%, url(../images/main-purple-left.svg) left 0 bottom 10%, url(../images/girl.svg) left 50% bottom 20%;
  background-attachment: fixed;
  background-repeat: no-repeat; }

.comments-header {
  padding: 1em; }

.comment-user-details {
  color: #fff; }

.comment-tweet-btn {
  background-color: black;
  color: #e7e417;
  border: none;
  font-size: 0.8em;
  margin: 1em; }

.comments-container {
  background-color: transparent;
  width: 80vw;
  margin: 0 auto;
  height: 100vh; }

.comment-btn {
  color: black;
  background-color: #e7e417; }

.background-textarea {
  background-color: black;
  color: white; }

.relative {
  position: relative;
  margin-bottom: 0.6em; }

.tweet-page {
  display: flex;
  align-items: flex-start;
  color: #cac5c5;
  width: 100vw;
  padding-top: 1em;
  z-index: 1;
  background-color: black; }
  .tweet-page .tweet-icon {
    position: relative;
    width: 70px;
    height: 70px;
    background-color: #e7e417;
    clip-path: circle(49% at center);
    margin: 0 2em; }

.comment-user-details {
  margin: 0 1em;
  display: flex;
  flex-direction: column;
  width: 60%;
  color: white; }

.tweet-content-color {
  color: white;
  font-weight: 200; }

.comments-wrapper {
  width: 80vw;
  height: 100vh;
  background-color: transparent;
  margin: 2em auto;
  padding: 1em;
  font-size: 0.8em; }

.header-comments {
  margin-bottom: 1em; }

.comment-mini-header {
  display: flex;
  width: 60vw;
  font-size: 0.8em;
  padding-top: 1em; }

.comment-mini-icon {
  width: 50px;
  height: 50px;
  background-color: #e7e417;
  clip-path: circle(49% at center); }

.user-pic {
  width: 70px;
  height: 70px; }

.comment-text {
  margin: 1em auto; }

.new-comment-icon > img {
  position: fixed;
  bottom: 2em;
  right: 2em; }
