* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  text-align: center;
}

main {
  position: relative;
  height: 100vh;
  background: url(../../public/images/large-purple-top.svg) left 0 top 0,
    url(../../public/images/small-purple-top.svg) right 5vw top 5vh,
    url(../../public/images/small-purple-left.svg) left 0 top 60vh,
    url(../../public/images/small-purple-right.svg) right 0 top 50vh,
    url(../../public/images/small-yellow-bottom.svg) left 55vw top 92vh;
  background-repeat: no-repeat;
}
.login-page-image {
  position: absolute;
  /* height: 20%; */
  top: 30%;
  left: 50%;
  margin-left: -57.5px;
  margin-top: -73.5px;
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -96px;
}

input {
  margin: 2em 0;
}

input.username,
input.password {
  width: 192px;
  height: 0;
  background-color: yellow;
  border: 2px solid yellow;
}

.login-button {
  background-color: yellow;
  /* background-color: aqua; */
  width: 116px;
  height: 37px;
}

/* background with triangles */
/* .background {
  position: relative;
  height: 100vh;
}

.triangle1 {
  position: absolute;
  top: 0;
  left: 0;
}

.triangle2 {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 198px 90.5px 0 90.5px;
  border-color: #f7ff00 transparent transparent transparent;
  top: -8vh;
  left: -5vw;
  transform: rotate(-30deg);
}

.triangle3 {
  position: absolute;
  top: 10%;
  right: 4%;
}

.triangle4 {
  position: absolute;
  bottom: 30%;
  right: 0;
}

.triangle5 {
  position: absolute;
  bottom: 13%;
  left: 0;
}

.triangle6 {
  position: absolute;
  bottom: 0;
  right: 15%;
} */
