$background: black;
$content-background: #ffffff;
$theme-primary: #e7e417;
$theme-secondary: purple;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  // font-size: 14px;
  line-height: 1.4em;
}

li {
  list-style: none;
}

body.main-default-background {
  background-color: $content-background;
}

div.main-default-background-shapes {
  height: 100vh;
  background: url(../../public/images/main-wave.svg) left 0 top 0,
    url(../../public/images/main-yellow-shape.svg) left 50vw top 40vh,
    url(../../public/images/main-purple-right.svg) right 0 top 50vh,
    url(../../public/images/main-purple-left.svg) left 0 bottom 8vh,
    url(../../public/images/main-human.svg) left 0 bottom 30vh;
  background-repeat: no-repeat;
}

header.main-page {
  position: absolute;
  top: 0;
  display: flex;
  align-items: flex-start;
  color: rgb(202, 197, 197);
  width: 100vw;
  margin-top: 2em;

  .full-name {
    letter-spacing: 0.1em;
  }

  .main-icon {
    position: relative;
    width: 20vw;
    height: 20vw;
    background-color: $theme-primary;
    clip-path: circle(49% at center);
    margin: 0 2em;

    .camera {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  div.details {
    display: flex;
    flex-direction: column;
    width: 60%;

    ul.details-extra {
      display: grid;
      grid-template-columns: auto auto;
      font-size: 0.8em;

      .user-info {
        font-style: italic;
      }

      li {
        padding: 0.5em 0;

        span.bold-numbers {
          font-weight: 700;
        }
      }
    }
  }
}

.tweets-container {
  // background-color: green;
  height: auto;
  width: 85vw;
  position: absolute;
  top: 17vh;
  left: 50vw;
  transform: translate(-50%);
  height: auto;

  .tweet {
    background-color: white;
    width: 80vw;
    margin: 2em auto;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: -2px 11px 14px -6px rgba(46, 46, 46, 0.54);

    .tweet-header {
      display: flex;
      justify-content: space-between;
      background-color: $theme-primary;
      padding: 0.9em;
      font-size: 14px;
      font-weight: 300;
    }

    .tweet-body {
      padding: 0.9em;
      font-weight: 200;
    }

    .tweet-line {
      border-bottom: 1px solid rgb(202, 202, 202);
      margin: 0.5em 0.9em;
    }

    .tweets-footer {
      display: flex;
      justify-content: space-around;
      margin: 1em;
    }
  }
}
